# Importing Librarires and Data

In [318]:
import pandas as pd

In [319]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("adilshamim8/salaries-for-data-science-jobs")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\felip\.cache\kagglehub\datasets\adilshamim8\salaries-for-data-science-jobs\versions\15

In [320]:
df = pd.read_csv(r"C:\Users\felip\.cache\kagglehub\datasets\adilshamim8\salaries-for-data-science-jobs\versions\15\salaries.csv")

In [321]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025,EX,FT,Head of Data,348516,USD,348516,US,0,US,M
1,2025,EX,FT,Head of Data,232344,USD,232344,US,0,US,M
2,2025,SE,FT,Data Scientist,145400,USD,145400,US,0,US,M
3,2025,SE,FT,Data Scientist,81600,USD,81600,US,0,US,M
4,2025,MI,FT,Engineer,160000,USD,160000,US,100,US,M

# Exploratory Data Analysis

In [322]:
# The table has 151.445  rows and 11 columns, 
df.shape

(151445, 11)

In [323]:
# There isn't any missing values in the dataset, also the data types seems to be right
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151445 entries, 0 to 151444
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           151445 non-null  int64
 1   experience_level    151445 non-null  object
 2   employment_type     151445 non-null  object
 3   job_title           151445 non-null  object
 4   salary              151445 non-null  int64
 5   salary_currency     151445 non-null  object
 6   salary_in_usd       151445 non-null  int64
 7   employee_residence  151445 non-null  object
 8   remote_ratio        151445 non-null  int64
 9   company_location    151445 non-null  object
 10  company_size        151445 non-null  object
dtypes: int64(4), object(7)
memory usage: 12.7+ MB

In [324]:
# As usual, there is a perceptible  standart deviation in the salary column
df.describe().round(2).T

,count,mean,std,min,25%,50%,75%,max
work_year,151445.0,2024.44,0.67,2020.0,2024.0,2025.0,2025.0,2025.0
salary,151445.0,162837.96,208012.40,14000.0,106000.0,147000.0,199000.0,30400000.0
salary_in_usd,151445.0,157527.46,74150.77,15000.0,105800.0,146100.0,198000.0,800000.0
remote_ratio,151445.0,20.94,40.62,0.0,0.0,0.0,0.0,100.0

In [325]:
''' There is a lot of unique values at the 'job_title' column.
although this is not valid to a regression model, this column is for sure a good feature to predict the 'salary' label.
'''
df['job_title'].unique()

array(['Head of Data', 'Data Scientist', 'Engineer', 'AI Product Lead',
       'AI Engineer', 'Business Intelligence Engineer', 'Manager',
       'Computer Vision Engineer', 'Data Management', 'Product Manager',
       'Data Engineer', 'Machine Learning Engineer', 'Software Engineer',
       'Data Analyst', 'Research Scientist', 'Developer', 'Associate',
       'Computational Scientist', 'Analyst', 'AI Scientist',
       'DataOps Engineer', 'Prompt Engineer', 'Data Governance Engineer',
       'Analytics Engineer', 'AI Governance Specialist',
       'Backend Engineer', 'DevOps Engineer', 'Systems Engineer',
       'Tech Lead', 'Solutions Engineer', 'Product Analyst', 'Researcher',
       'Executive', 'Director', 'Consultant', 'Solutions Architect',
       'Data Reporting Specialist', 'BI Developer', 'Data Manager',
       'Machine Learning Scientist', 'Data Governance',
       'Applied Scientist', 'Data Architect', 'Statistical Programmer',
       'Data Specialist', 'Technical Architect', 'Cloud Engineer',
       'Business Intelligence Analyst', 'Architect',
       'Automation Engineer', 'Engineering Manager',
       'Site Reliability Engineer', 'Data Strategist',
       'Cloud Database Administrator', 'Data Product Manager',
       'MLOps Engineer', 'Platform Engineer', 'Data Management Analyst',
       'Principal Engineer', 'Full Stack Engineer', 'Principal Scientist',
       'Business Intelligence Specialist', 'Staff Engineer',
       'Full Stack Developer', 'Security Researcher',
       'AI Solutions Consultant', 'AI Developer', 'Data Modeler',
       'Data Analysis', 'Technical Writer', 'Account Executive',
       'Research Engineer', 'Solution Architect', 'QA Engineer',
       'Economist', 'Quantitative Analyst', 'Quantitative Developer',
       'Analytics Manager', 'Backend Developer', 'Data Governance Lead',
       'Data Governance Analyst', 'AI Specialist', 'Lead Engineer',
       'Database Administrator', 'Software Developer', 'System Engineer',
       'Software Development Engineer', 'Data Developer', 'Data Lead',
       'Software Architect', 'Analytics Lead', 'Statistician',
       'Forward Deployed Engineer', 'Algorithm Developer',
       'Integration Specialist', 'Actuary', 'Member of Technical Staff',
       'Technical Project Manager', 'Head of AI', 'Power BI Developer',
       'Product Designer', 'Data Infrastructure Engineer',
       'Technical Lead', 'Postdoctoral Fellow', 'ETL Developer',
       'Data Operations Analyst', 'Data Integration Engineer',
       'AI Product Owner', 'Python Developer', 'Business Analyst',
       'Data Governance Specialist', 'Data Product Owner',
       'Machine Learning Architect', 'Post Doctoral Fellow',
       'Technical Support Engineer', 'ML Scientist',
       'Cloud Database Engineer', 'Data Platform Engineer',
       'Data Management Specialist', 'Computational Biologist',
       'Business Intelligence', 'Sales Engineer', 'Director of Data',
       'Research Associate', 'Solution Engineer',
       'Data Analytics Manager', 'Data Analytics Specialist', 'Power BI',
       'Apprentice', 'BI Engineer', 'Analytics Specialist',
       'Principal Statistical Programmer', 'Data Operations Specialist',
       'Product Owner', 'Commercial Counsel', 'Quantitative Researcher',
       'Data Quality Analyst', 'Research Fellow',
       'Software Development Director', 'Data Integration Lead',
       'Data Governance Manager', 'AI Architect', 'AI Researcher',
       'Business Intelligence Developer', 'Data Quality Specialist',
       'AI Solutions Lead', 'BI Analyst',
       'Business Development Representative', 'Bioinformatician',
       'Artificial Intelligence Engineer', 'Data Visualization Designer',
       'Data Operations Engineer', 'Research Specialist',
       'Head of Machine Learning', 'Decision Scientist',
       'Data Management Lead', 'Solution Specialist', 'Data Operations',
       'Lead Data Analysis', 'Data Archivist',
       'Director of Artificial Intelligence', 'Data Quality Engineer',
       'Data Operations Manager', 'Machine Learning Developer',
       'Principal Researcher', 'AI Product Specialist', 'Insight Analyst',
       'Data Team Lead', 'Data Operations Lead',
       'Machine Learning Researcher', 'Data Quality Lead',
       'Research Assistant', 'SAS Developer',
       'Business Intelligence Lead', 'Application Developer',
       'AI Solution Director', 'Cdd', 'Postdoctoral Researcher',
       'Technical Recruiter', 'Data Visualization Developer',
       'Psychometrician', 'Content Writer', 'Data Visualization Expert',
       'Data Analytics Lead', 'Data and Reporting Professional',
       'Data Visualization Specialist', 'Advanced Analytics Manager',
       'Power BI Specialist', 'AI Lead',
       'Encounter Data Management Professional', 'Data Analist',
       'Java Developer', 'Trainee', 'Head of Marketing',
       'Data Integrity Specialist', 'Data Steward',
       'Research Professional', 'Director of Machine Learning',
       'Data Strategy Lead', 'Technical Consultant',
       'Data Management Officer', 'Director of Product Management',
       'Postdoctoral Scholar', 'Product Specialist',
       'Bioinformatics Scientist', 'Data Visualization Engineer',
       'AIRS Solutions Specialist', 'Machine Learning Lead',
       'Quantitative Trader', 'Databricks Engineer', 'Data Integrator',
       'Data Management Professional', 'Quantitative Risk Analyst',
       'AI Data Scientist', 'QA Tutor Reviewer', 'Technical Specialist',
       'Machine Learning Specialist', 'Data Management Technician',
       'Power BI Expert', 'Data Integration Specialist',
       'Director of Engineering', 'DevOps Lead',
       'Data & Analytics Specialist', 'Conversational AI Designer',
       'Clinical Aide', 'Web Developer', 'Data Visualization Lead',
       'Systems Administrator', 'Postdoctoral Research Fellow',
       'Data Management Associate', 'Fraud Data Analyst',
       'Admin & Data Analyst', 'Data Engineer 4', 'AI Governance Lead',
       'IT Enterprise Data Architect', 'Copywriter',
       'Marketing Science Partner', 'Sales Development Representative',
       'Data Product Lead', 'Data Operator', 'Data Reporter',
       'Bear Robotics', 'Creative Technologist', 'Big Data Developer',
       'Tableau Developer', 'Bioinformatics Specialist',
       'AI Content Writer', 'AI Research Scientist',
       'Data & Analytics Analyst', 'Power BI Administrator',
       'Data Consultant', 'Research Analyst', 'Cheminformatics Scientist',
       'Data Governance Consultant', 'Technical Support Specialist',
       'Cientista de Dados', 'AI Tech Lead', 'System Administrator',
       'AI Strategist', 'AI Solutions Specialist',
       'Enterprise Account Executive', 'Advanced Data Analyst',
       'AI Engineering Lead', 'Quant Trader', 'Head of Applied AI',
       'Salesforce Administrator', 'Chatbot Developer', 'Cloud Developer',
       'Data Analytics Business Partner', 'Data Quality Expert',
       'BI & Data Analyst', 'Network Engineer', 'Risk Analyst',
       'Cloud Architect', 'Data Scientist Manager', 'Robotics Engineer',
       'Data Management Consultant', 'Stage',
       'Data and Analytics Consultant', 'Alternance', 'Big Data Engineer',
       'LLM Engineer', 'Data Integration Developer', 'Developer Advocate',
       'RPA Developer', 'Research Team Lead', 'Data Analytics Developer',
       'Quant Options Trader', 'Data Management Expert',
       'Scala Spark Developer', 'Business Intelligence Manager',
       'Data Scientist Expert', 'Customer Success Engineer',
       'Experienced Quantitative Strategist', 'Tech Lead Data',
       'Data and Reporting Analyst', 'AI Programmer',
       'Data Analysis Specialist', 'GenAI Architect',
       'Data Reporting Analyst', 'Data Integrity Analyst',
       'Data Visualization Analyst', 'Customer Success Manager',
       'Actuarial Analyst', 'AI Data Engineer', 'Technology Integrator',
       'Principal Software Architect', 'Master Data Management',
       'Staff Data Scientist', 'AI Machine Learning Engineer',
       'Lead Analyst', 'Data Analytics Consultant',
       'Data Scientist Associate', 'Clinical Data Operator',
       'Research Data Manager', 'Applied Research Scientist',
       'Lead Data Management', 'Data Integration Analyst',
       'Safety Data Management Specialist', 'Big Data Analyst',
       'Pricing Analyst', 'Lead Data Engineer', 'AI Engineering Manager',
       'Data Management Coordinator', 'Analytics Analyst',
       'Controls Engineer', 'Machine Learning Tech Lead',
       'Business Development Manager', 'Business Insights Manager',
       'Platform Data Engineer',
       'Principal Application Delivery Consultant',
       'Data Governance Architect', 'Power BI Consultant',
       'Backend Software Engineer', 'AI Product Manager',
       'Data Operations Associate', 'ML Infrastructure Engineer',
       'Fullstack Engineer', 'Machine Learning Quality Engineer',
       'Security Engineer', 'Infrastructure Engineer',
       'Machine Learning Performance Engineer',
       'Data Analytics Associate', 'Power BI Architect',
       'Machine Learning Platform Engineer', 'AI Solution Architect',
       'Data Scientist Lead', 'Machine Vision Engineer',
       'Machine Learning Model Engineer', 'Marketing Analyst',
       'Data Management Manager', 'Marketing Analytics Manager',
       'Applied AI ML Lead', 'Data Strategy Manager',
       'Machine Learning Manager', 'Data Product Analyst',
       'Data Quality Manager', 'Elasticsearch Administrator',
       'Machine Learning Infrastructure Engineer', 'People Data Analyst',
       'Frontend Engineer', 'NLP Engineer', 'Data Analytics Team Lead',
       'Machine Learning Modeler', 'Data Integration Coordinator',
       'Head of Business Intelligence', 'ETL Engineer',
       'AI Research Engineer', 'Business Intelligence Consultant',
       'Robotics Software Engineer', 'AI Software Engineer',
       'Lead AI Engineer', 'AI Software Development Engineer',
       'Master Data Specialist', 'Consultant Data Engineer',
       'Manager Data Management', 'Director of Business Intelligence',
       'Lead Data Scientist', 'CRM Data Analyst', 'BI Data Analyst',
       'Applied Data Scientist', 'Data DevOps Engineer',
       'Quantitative Research Analyst', 'Lead Machine Learning Engineer',
       'Machine Learning Research Engineer', 'Data Analyst Lead',
       'Data Pipeline Engineer', 'Lead Data Analyst',
       'Business Data Analyst', 'Marketing Data Scientist',
       'Deep Learning Engineer', 'Financial Data Analyst',
       'Azure Data Engineer', 'Principal Data Scientist',
       'Staff Data Analyst', 'Machine Learning Software Engineer',
       'Applied Machine Learning Scientist',
       'Principal Machine Learning Engineer', 'Principal Data Engineer',
       'Staff Machine Learning Engineer',
       'Business Intelligence Data Analyst', 'Finance Data Analyst',
       'Software Data Engineer', 'Compliance Data Analyst',
       'Cloud Data Engineer', 'Analytics Engineering Manager',
       'AWS Data Architect', 'Product Data Analyst',
       'Autonomous Vehicle Technician', 'Sales Data Analyst',
       'Applied Machine Learning Engineer', 'BI Data Engineer',
       'Deep Learning Researcher', 'Big Data Architect',
       'Computer Vision Software Engineer', 'Marketing Data Engineer',
       'Data Science Tech Lead', 'Marketing Data Analyst',
       'Principal Data Architect', 'Data Analytics Engineer',
       'Cloud Data Architect', 'Principal Data Analyst'], dtype=object)

In [326]:
# Let's start seeking for the most frequent values
df['job_title'].value_counts().head(50)

job_title
Data Scientist                     18751
Software Engineer                  16948
Data Engineer                      16352
Data Analyst                       13779
Engineer                           11004
Machine Learning Engineer           8887
Manager                             7811
Analyst                             5396
Research Scientist                  3460
Product Manager                     2576
Applied Scientist                   2381
Associate                           2379
Data Architect                      2216
Analytics Engineer                  2139
AI Engineer                         2013
Research Engineer                   1737
Consultant                          1363
Data Manager                        1073
Developer                           1040
Data Specialist                      984
Solutions Architect                  976
Business Intelligence Engineer       956
Engineering Manager                  902
Systems Engineer                     854
Architect                            845
Software Developer                   798
Director                             792
Software Development Engineer        747
Machine Learning Researcher          699
Business Intelligence Analyst        666
DevOps Engineer                      563
Platform Engineer                    560
Machine Learning Scientist           537
Site Reliability Engineer            502
Business Analyst                     501
BI Analyst                           447
Research Analyst                     440
Solutions Engineer                   417
Business Intelligence Developer      415
Backend Engineer                     385
Data Governance                      362
Business Intelligence                360
Data Management Analyst              354
Head of Data                         336
Data Product Manager                 334
Data Lead                            322
BI Developer                         306
Solution Architect                   298
AI Architect                         289
Data Management Specialist           271
Name: count, dtype: int64

'Software Engineer' and 'Manager' really isn't the type of job title that we are looking for, because this isn't data science jobs. so let's filter this

In [327]:
# looking to the most frequent job titles that we are aiming, we will create a list of job titles that we are aiming
df[df['job_title'].str.contains('data scientist|data analyst|data engineer|Machine Learning Engineer|bi |ai ', case=False, na=False)]['job_title'].value_counts().head(30)

job_title
Data Scientist               18751
Data Engineer                16352
Data Analyst                 13779
Machine Learning Engineer     8887
AI Engineer                   2013
BI Analyst                     447
BI Developer                   306
AI Architect                   289
AI Developer                   222
Power BI Developer             151
AI Scientist                   138
BI Engineer                    120
AI Specialist                  108
AI Researcher                  106
AI Lead                         35
AI Product Manager              27
AI Product Owner                26
Business Data Analyst           21
BI Data Analyst                 19
Power BI Administrator          18
AI Solution Director            16
AI Product Lead                 14
Big Data Engineer               14
Applied Data Scientist          13
AI Data Scientist               12
GenAI Architect                 12
AI Software Engineer            11
Lead Data Scientist             11
Power BI Specialist             10
AI Solution Architect           10
Name: count, dtype: int64

as we can see, 'ai' job titles really isn't a good reference to predict the salary, due it's low frequency on the dataset, and the amount of different titles with 'ai' in it.

# Manipulating data

In [328]:
# Create the list
relevant_job_titles = ['Data Scientist', 'Data Engineer', 'Data Analyst', 'Machine Learning Engineer', 'Data Architect', 'Business Intelligence Engineer', 'BI Engineer', 'Business Intelligence Analyst', 'BI Analyst']

In [329]:
# lenght of the new df with our desired job titles
lenght_filtered_df = df[df['job_title'].isin(relevant_job_titles)].shape[0]

In [330]:
# absolute difference between the original and the new datasets
diff = df.shape[0] - lenght_filtered_df

In [331]:
# difference in percentage
percentage_diff = (lenght_filtered_df / df.shape[0]) * 100

In [346]:
print(f'The new filtered dataframe has {lenght_filtered_df} rows ({percentage_diff:.2f}% of the original dataframe), loosing {diff} of {df.shape[0]} rows')

The new filtered dataframe has 62174 rows (41.05% of the original dataframe), loosing 89271 of 62174 rows

In [333]:
# Filters the dataframe
df = df[df['job_title'].isin(relevant_job_titles)]

In [334]:
# Grouping 'Bussines Intelligence x' and 'BI x' job titles
def group_bi_professionals(job_title):
    if job_title == 'Business Intelligence Analyst':
        return 'BI Analyst'
    elif job_title == 'Business Intelligence Engineer':
        return 'BI Engineer'
    else:
        return job_title

In [335]:
# Apply the funcion
df['job_title'] = df['job_title'].apply(group_bi_professionals)

In [336]:
# Display the new unique job title values
df['job_title'].unique()

array(['Data Scientist', 'BI Engineer', 'Data Engineer',
       'Machine Learning Engineer', 'Data Analyst', 'Data Architect',
       'BI Analyst'], dtype=object)

In [337]:
# Apply Dummy variables (one hot encoding on 'job_title' column)
job_dummies = pd.get_dummies(df['job_title'], prefix='job', dtype=int)
job_dummies.columns

Index(['job_BI Analyst', 'job_BI Engineer', 'job_Data Analyst',
       'job_Data Architect', 'job_Data Engineer', 'job_Data Scientist',
       'job_Machine Learning Engineer'],
      dtype='object')

In [338]:
# Concatinating the datasets
df = pd.concat([df, job_dummies], axis=1)
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,job_BI Analyst,job_BI Engineer,job_Data Analyst,job_Data Architect,job_Data Engineer,job_Data Scientist,job_Machine Learning Engineer
2,2025,SE,FT,Data Scientist,145400,USD,145400,US,0,US,M,0,0,0,0,0,1,0
3,2025,SE,FT,Data Scientist,81600,USD,81600,US,0,US,M,0,0,0,0,0,1,0
10,2025,SE,FT,BI Engineer,180500,USD,180500,US,0,US,M,0,1,0,0,0,0,0
11,2025,SE,FT,BI Engineer,113000,USD,113000,US,0,US,M,0,1,0,0,0,0,0
30,2025,SE,FT,Data Engineer,200000,USD,200000,US,100,US,M,0,0,0,0,1,0,0

In [339]:
# Droppping the old 'job_title' column
df = df.drop(['job_title'], axis=1)
df.head()

,work_year,experience_level,employment_type,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,job_BI Analyst,job_BI Engineer,job_Data Analyst,job_Data Architect,job_Data Engineer,job_Data Scientist,job_Machine Learning Engineer
2,2025,SE,FT,145400,USD,145400,US,0,US,M,0,0,0,0,0,1,0
3,2025,SE,FT,81600,USD,81600,US,0,US,M,0,0,0,0,0,1,0
10,2025,SE,FT,180500,USD,180500,US,0,US,M,0,1,0,0,0,0,0
11,2025,SE,FT,113000,USD,113000,US,0,US,M,0,1,0,0,0,0,0
30,2025,SE,FT,200000,USD,200000,US,100,US,M,0,0,0,0,1,0,0

## Removing unwanted columns

In [350]:
df = df.drop(['salary', 'salary_currency'], axis=1)